/* Copyright 2016 iropke. SIL Open Font License 1.1; see EULA_iropke_batang.pdf. */
@font-face {
  font-family: "Iropke Batang";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./IropkeBatangM.woff") format("woff");
}
